In [1]:
import math
import pandas as pd

In [2]:
doc1="football is one of the best games"
doc2="Ronaldo is a football player"
doc3="Kohli is best football player"
doc4="i love cricket game"
doc5="i love cricket and football"
doc6="football is the best game"
doc7="odi and twenty is best cricket format"
doc8="cricket is another popular game"
doc9="ronaldo and messi are popular footballer"

In [3]:
stopword_list=['i','is','the','and']

In [4]:
#tokenizer Function
def Tokenizer(text):
    text=text.split()
    return text

In [5]:
tokenized_doc1=Tokenizer(doc1)
tokenized_doc2=Tokenizer(doc2)
tokenized_doc3=Tokenizer(doc3)
tokenized_doc4=Tokenizer(doc4)
tokenized_doc5=Tokenizer(doc5)
tokenized_doc6=Tokenizer(doc6)
tokenized_doc7=Tokenizer(doc7)
tokenized_doc8=Tokenizer(doc8)
tokenized_doc9=Tokenizer(doc9)

In [6]:
#Remove Stop Words
def Remove_stopword(text):
    remove_stop=" "
    list1=[]
    for i in text: #euta euta word linxa i le
        if i not in stopword_list:
            list1.append(i)
    return remove_stop.join(list1)

In [7]:
preprocess_doc1=Remove_stopword(tokenized_doc1)
preprocess_doc1

'football one of best games'

In [8]:
preprocess_doc1=Remove_stopword(tokenized_doc1)
preprocess_doc2=Remove_stopword(tokenized_doc2)
preprocess_doc3=Remove_stopword(tokenized_doc3)
preprocess_doc4=Remove_stopword(tokenized_doc4)
preprocess_doc5=Remove_stopword(tokenized_doc5)
preprocess_doc6=Remove_stopword(tokenized_doc6)
preprocess_doc7=Remove_stopword(tokenized_doc7)
preprocess_doc8=Remove_stopword(tokenized_doc8)
preprocess_doc9=Remove_stopword(tokenized_doc9)

In [31]:
vocab_docs=preprocess_doc1+" "+preprocess_doc2+" "+preprocess_doc3+" "+preprocess_doc4+" "+preprocess_doc5+" "+preprocess_doc6+" "+preprocess_doc7+" "+preprocess_doc8+" "+preprocess_doc9

vocab_docs

'football one of best games Ronaldo a football player Kohli best football player love cricket game love cricket football football best game odi twenty best cricket format cricket another popular game ronaldo messi are popular footballer'

In [32]:
def Get_vocab(doc):
    doc=vocab_docs.split()
    return(set(doc))

In [33]:
vocabs=Get_vocab(vocab_docs)
vocabs

{'Kohli',
 'Ronaldo',
 'a',
 'another',
 'are',
 'best',
 'cricket',
 'football',
 'footballer',
 'format',
 'game',
 'games',
 'love',
 'messi',
 'odi',
 'of',
 'one',
 'player',
 'popular',
 'ronaldo',
 'twenty'}

In [34]:
def map_vocab_to_id(vocab):            
    res={}
    for i,token in enumerate(vocab):
        res[token]=i+1
    return res

In [35]:
vocab_with_id=map_vocab_to_id(vocabs)
vocab_with_id

{'Kohli': 11,
 'Ronaldo': 4,
 'a': 3,
 'another': 1,
 'are': 20,
 'best': 9,
 'cricket': 18,
 'football': 17,
 'footballer': 5,
 'format': 7,
 'game': 2,
 'games': 6,
 'love': 15,
 'messi': 14,
 'odi': 21,
 'of': 10,
 'one': 16,
 'player': 12,
 'popular': 8,
 'ronaldo': 13,
 'twenty': 19}

In [39]:
#2 Ngram and Feature Vectors Count(tf) count
def generate_ngrams(s, n=1):
    tokens = [token for token in s.split(" ") if token != ""]
    ngrams = zip(*[tokens[i:] for i in range(n)])
    return [" ".join(ngram) for ngram in ngrams]

In [40]:
ngram_doc1=generate_ngrams(preprocess_doc1)
ngram_doc2=generate_ngrams(preprocess_doc2)
ngram_doc3=generate_ngrams(preprocess_doc3)
ngram_doc4=generate_ngrams(preprocess_doc4)
ngram_doc5=generate_ngrams(preprocess_doc5)
ngram_doc6=generate_ngrams(preprocess_doc6)
ngram_doc7=generate_ngrams(preprocess_doc7)
ngram_doc8=generate_ngrams(preprocess_doc8)
ngram_doc9=generate_ngrams(preprocess_doc9)
ngram_doc1

['football', 'one', 'of', 'best', 'games']

In [41]:
def Count_word(vocab,ng_doc):
    numOfWords = dict.fromkeys(vocab, 0)
    for word in ng_doc:
        numOfWords[word] += 1
    return numOfWords

In [46]:
numOfWords1=Count_word(vocabs,ngram_doc1)
numOfWords2=Count_word(vocabs,ngram_doc2)
numOfWords3=Count_word(vocabs,ngram_doc3)
numOfWords4=Count_word(vocabs,ngram_doc4)
numOfWords5=Count_word(vocabs,ngram_doc5)
numOfWords6=Count_word(vocabs,ngram_doc6)
numOfWords7=Count_word(vocabs,ngram_doc7)
numOfWords8=Count_word(vocabs,ngram_doc8)
numOfWords9=Count_word(vocabs,ngram_doc9)

In [47]:
# df
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [44]:
tf1=computeTF(numOfWords1,tokenized_doc1)
tf2=computeTF(numOfWords2,tokenized_doc2)
tf3=computeTF(numOfWords3,tokenized_doc3)
tf4=computeTF(numOfWords4,tokenized_doc4)
tf5=computeTF(numOfWords5,tokenized_doc5)
tf6=computeTF(numOfWords6,tokenized_doc6)
tf7=computeTF(numOfWords7,tokenized_doc7)
tf8=computeTF(numOfWords8,tokenized_doc8)
tf9=computeTF(numOfWords9,tokenized_doc9)

In [45]:
def computeIDF(documents):
    import math
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    
    for document in documents:
        for word, val in document.items():
           
            if val > 0:
                idfDict[word] += 1
                
    for word, val in idfDict.items():
        idfDict[word] = math.log(N /float(val))+1
    return idfDict

In [26]:
idfs = computeIDF([numOfWords1,numOfWords2,numOfWords3,numOfWords4,numOfWords5,numOfWords6,numOfWords7,numOfWords8,numOfWords9])

In [27]:
#tf*idf
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [28]:
tfidf1 = computeTFIDF(tf1, idfs)
tfidf2 = computeTFIDF(tf2, idfs)
tfidf3 = computeTFIDF(tf3, idfs)
tfidf4 = computeTFIDF(tf4, idfs)
tfidf5 = computeTFIDF(tf5, idfs)
tfidf6 = computeTFIDF(tf6, idfs)
tfidf7 = computeTFIDF(tf7, idfs)
tfidf8 = computeTFIDF(tf8, idfs)
tfidf9 = computeTFIDF(tf9, idfs)

df = pd.DataFrame([tfidf1, tfidf2,tfidf3,tfidf4,tfidf5,tfidf6,tfidf7,tfidf8,tfidf9])
df

,Kohli,Ronaldo,a,another,are,best,cricket,football,footballer,format,...,games,love,messi,odi,of,one,player,popular,ronaldo,twenty
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.258704,0.000000,0.226827,0.000000,0.000000,...,0.456746,0.000000,0.000000,0.000000,0.456746,0.456746,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.639445,0.639445,0.000000,0.000000,0.000000,0.000000,0.317557,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500815,0.000000,0.000000,0.000000
2,0.639445,0.000000,0.000000,0.000000,0.000000,0.362186,0.000000,0.317557,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500815,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.452733,0.000000,0.000000,0.000000,...,0.000000,0.626019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.362186,0.317557,0.000000,0.000000,...,0.000000,0.500815,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.362186,0.000000,0.317557,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.258704,0.258704,0.000000,0.000000,0.456746,...,0.000000,0.000000,0.000000,0.456746,0.000000,0.000000,0.000000,0.000000,0.000000,0.456746
7,0.000000,0.000000,0.000000,0.639445,0.000000,0.000000,0.362186,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500815,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.532871,0.000000,0.000000,0.000000,0.532871,0.000000,...,0.000000,0.000000,0.532871,0.000000,0.000000,0.000000,0.000000,0.417346,0.532871,0.000000